<div class="table-responsive">
  <table class="table align-middle table-hover table-sm">
    <thead class="table-primary">
     
      <th scope="col">Apellidos y Nombres</th>
      <th scope="col">DNI</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Acciones</th>
    </thead>
    <tbody >
      <tr class="" *ngFor="let student of students">
        
        <td>{{student.lastnames}} {{student.names}}</td>
        <td>{{student.dni}}</td>
        <td>{{student.dateOfBirth}}</td>
        <td>{{student.phone}}</td>
        <td class="text-center">
          <i class="fa-solid fa-pen-to-square"></i>
          <i class="fa-solid fa-trash-can" (click)="studentDelete(student)"></i>
        </td>
      </tr>
      
    </tbody>
  </table>


</div>
