<main class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title">Gestión de alumnos</h5>
        </div>
        <section class="card-body">
          <app-create-student></app-create-student>
          <button class="btn btn-outline-primary btn-sm position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Crear alumno &nbsp;
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-secondary badge border border-light rounded-circle">
              <span class="fa-solid fa-plus"></span>
            </span>
          </button>
          <br>
          <section class="row mt-5">
            <app-list-students></app-list-students>
          </section>

        </section>
      </div>
    </div>
  </div>
  
</main>

<router-outlet></router-outlet>
